.App {
  width: 100%;
  min-height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-time {
  font-size: 15vh;
  margin: 0 0 5vh 0;
  color: #ffffff;
  /* font-weight: bold; */
}

.slider-container {
  width: 100%;
  text-align: center;
}

.page__background, .page__content {
  background-color:#4a148c;
}

.range__input {
  background-image: linear-gradient(#FF4081,#FF4081);
}

ons-fab.fab, ons-speed-dial-item.fab {
  background: #ff4081;
}

button.fab:active,ons-fab.fab:active,ons-speed-dial-item.fab:active {
  background-color:rgba(255,64,129,.7);
  transition:all .2s ease;
  box-shadow:0 0 6 rgba(0,0,0,.12);
}
